body, html {
    height: 100%;
}


#header {
    text-align: center;
    font-weight: bold;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

.jumbotron {
    width: 100%;
}

.nav-item {
    font-size: 1.2rem;
}

#nav-text {
    color: white;
    font-family: 'Love Ya Like A Sister', cursive;
}

#nav-center {
    border-right: 1px solid rgb(182, 182, 182);
    border-left: 1px solid rgb(182, 182, 182);
}

.parallax {
    /* Color gradient added */
    background-image: /* linear-gradient(
        rgba(110, 110, 110, 0.1),
        rgba(110, 110, 110, 0.6)
      ), */
    url("images/ChalkboardBackground.jpg");
    /* Full height */
    height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.jumbotron{
    padding: 80px;
}

#navIcon {
    font-size: 15px;
    color: white;
}


#aboutText {
    padding: 50px;
    font-family: 'lato', sans-serif;
    font-size: 20px;
    color: #632721;
}

#aboutImg {
    width: 400px;
    height: auto; 
    float:left;
    margin-right: 60px;
}

#visitText {
    font-family: 'lato', sans-serif;
    text-align: center;
    color: #632721;
    padding: 50px;
    font-size: 20px;
}


#contactText {
    font-family: 'lato', sans-serif;
   
    color: #632721;
    padding: 50px;
    font-size: 20px;
}

#contactIcon {
    font-size: 3rem;
    color: #37383d;
}

.footer {
    text-align: center;
    background-color: #37383d;
    color: white;
    padding: 20px 0;
    border-top: 2px solid rgb(180, 180, 180);
    font-family: 'Open Sans', sans-serif;
}


/*Media Queries*/

@media(max-width:768px){
    #nav-text {
        color: rgb(170, 169, 169);
    }
}

@media(max-width:576px){
    #jumboName {
        font-size: 3.3rem;
    }
    #jumboHeader {
        padding: 30px;
    }
    #nav-text {
        color: black;
    }
    #aboutImg {
        width: 300px;
        height: auto; 
        margin-bottom: 50px;
    }
}